body{
    background-color: rgba(60, 131, 131, 0.5);
}
p{
    line-height:200%;
}

*{
    box-sizing: border-box;
}

a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color:#333;
}
a:hover{
    color: #aaa1a1;
}