*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #2E2D2D, #666666);
}

h2{
    color:aliceblue;
}

.Passions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align:center;
}

a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color:#333;
    border: 2px solid black;
    border-radius:5px;
    background-color:white;
    color:black;
    cursor: pointer;
    padding: 5px 10px;
}
a:hover{
    color: #aaa1a1;
}